[submodule "submodules/partout"]
	path = submodules/partout
	url = git@github.com:eamosov/partout.git
[submodule "submodules/wx"]
	path = submodules/wx
	url = https://github.com/wxWidgets/wxWidgets
[submodule "submodules/sing-box"]
	path = submodules/sing-box
	url = https://github.com/sagernet/sing-box
[submodule "submodules/ydtun"]
	path = submodules/ydtun
	url = git@github.com:eamosov/ydtun.git
